@model ArchiveSystem.Models.DocumentUpsetViewModel
<br />
<h2 class="text-info">@(Model.Id != 0 ? "Edit" : "Create") Document</h2>
<br />
<div class="border container" style="padding:30px;">
    <form enctype="multipart/form-data" method="post">
        @if (Model.Id != 0)
        {
            <input type="hidden" asp-for="Id" />
        }
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Year"></label>
            </div>
            <div class="col-6">
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Grant"></label>
            </div>
            <div class="col-6">
                <input asp-for="Grant" class="form-control" />
                <span asp-validation-for="Grant" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Catagory"></label>
            </div>
            <div class="col-6">
                <select asp-for="Catagory" class="form-control" onchange="catagoryChange(this);">
                    <option value="Document">Document</option>
                    <option value="Studies">Studies</option>
                </select>
                <!--<input asp-for="Catagory" class="form-control" />-->
                <span asp-validation-for="Catagory" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="SubCatagory"></label>
            </div>
            <div class="col-6">
                <select asp-for="SubCatagory" class="form-control" id="subcatagory" onchange="subCatagoryChange(this);">
                    <!--["proposed", "PMF", "PIP","Budget","Contract"];-->
                    <option>proposal</option>
                    <option>PMF</option>
                    <option>PIP</option>
                    <option>Budget</option>
                    <option>Contract</option>
                </select>
                <!--
            <input asp-for="SubCatagory" class="form-control" />
            -->
                <span asp-validation-for="SubCatagory" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="About"></label>
            </div>
            <div class="col-6">
                <input asp-for="About" class="form-control" />
                <span asp-validation-for="About" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="file"></label>
            </div>
            <div class="col-6 custom-file">
                @if (Model.Id != 0)
                {
                    <input asp-for="file" class="form-control custom-file-input" />
                }
                @if (Model.Id == 0)
                {
                    <input asp-for="file" class="form-control custom-file-input" Required />
                }
                <label class="custom-file-label">Chooce File</label>
                <span asp-validation-for="file" class="text-danger"></span>

            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Region"></label>
            </div>
            <div class="col-6">
                <input asp-for="Region" class="form-control" />
                <span asp-validation-for="Region" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row" style="visibility:hidden" id="other">
            <div class="col-3">
                <label asp-for="other"></label>
            </div>
            <div class="col-6">
                <select asp-for="other" class="form-control">

                    <option value=""></option>
                    <option value="TOR/Concept">TOR/Concept</option>
                    <option value="Data Collection Tools">Data Collection Tools</option>
                    <option value="Dataset">Dataset</option>
                    <option value="Report">Report</option>
                    <option value="Presentation">Presentation</option>
                    <option value="Other">Other</option>
                </select>
                <!--<input asp-for="Catagory" class="form-control" />-->
                <span asp-validation-for="other" class="text-danger"></span>
            </div>
        </div>

        <br />
        <div class="form-group row">
            <div class="col-3 offset-3">
                <button type="submit" class="btn btn-primary form-control">
                    @(Model.Id != 0 ? "Update" : "Create")
                </button>
            </div>
            <div class="col-3">
                <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
            </div>
        </div>
        <!-- Java scripts-->
        @section Scripts{
            <partial name="_ValidationScriptsPartial" />
            <!-- for name of uploaded file-->
            <script type="text/javascript">
                $(document).ready(function () {
                    $('.custom-file-input').on("change", function () {
                        var fileName = $(this).val().split("\\").pop();
                        $(this).next('.custom-file-label').html(fileName);
                    });

                });
                //<![CDATA[
                var catagoryLists = new Array(2)
                catagoryLists["Document"] = ["proposal", "PMF", "PIP", "Budget", "Contract"];
                catagoryLists["Studies"] = ["Baseline", "Endline", "Evaluation", "Monitoring", "Research", "Other"];

                /*base line need a new sub:
                 TOR/Concept
                 Data Collection Tools
                 Dataset
                 Presentation
                 Other
                 */
                //store the file name
                //a new part:Region

                /* CatagoryChange() is called from the onchange event of a select element.
                * param selectObj - the select object which fired the on change event.
                */
                function catagoryChange(selectObj) {
                    // get the index of the selected option
                    var idx = selectObj.selectedIndex;
                    // get the value of the selected option
                    var which = selectObj.options[idx].value;
                    // use the selected option value to retrieve the list of items from the countryLists array
                    cList = catagoryLists[which];
                    // get the country select element via its known id
                    var cSelect = document.getElementById("subcatagory");
                    // remove the current options from the subcatagory select
                    var len = cSelect.options.length;
                    while (cSelect.options.length > 0) {
                        cSelect.remove(0);
                    }
                    var newOption;
                    // create new options
                    for (var i = 0; i < cList.length; i++) {
                        newOption = document.createElement("option");
                        newOption.value = cList[i];  // assumes option string and value are the same
                        newOption.text = cList[i];
                        // add the new option
                        try {
                            cSelect.add(newOption);  // this will fail in DOM browsers but is needed for IE
                        }
                        catch (e) {
                            cSelect.appendChild(newOption);
                        }
                    }
                    var ddl = document.getElementById("subcatagory");
                    var selectedValue = ddl.options[ddl.selectedIndex].value;
                    if (selectedValue == "Baseline") {
                        document.getElementById('other').style.visibility = 'visible';
                    }
                    else {
                        document.getElementById('other').style.visibility = 'hidden';
                    }
                }
                function subCatagoryChange(selectObj) {
                    var ddl = document.getElementById("subcatagory");
                    var selectedValue = ddl.options[ddl.selectedIndex].value;
                    if (selectedValue == "Baseline") {
                        document.getElementById('other').style.visibility = 'visible';
                    }
                    else {
                        document.getElementById('other').style.visibility = 'hidden';
                    }
                }

                                        //]]>
                                        //<![CDATA[
                /*base line need a new sub:
                 TOR/Concept
                 Data Collection Tools
                 Dataset
                 Presentation
                 Other
                 */
                                        //store the file name
                                        //a new part:Region

                /* CatagoryChange() is called from the onchange event of a select element.
                * param selectObj - the select object which fired the on change event.
                */
                                                                    //]]>
            </script>
            <!--End of JavaScript-->
        }
    </form>
</div>
