@model ArchiveSystem.Models.DocumentUpsetViewModel
<br />
<h2 class="text-info">@(Model.Id != 0 ? "Edit" : "Create") Document</h2>
<br />
<div class="border container" style="padding:30px;">
    <p>You can Report curroption related cases by filling out this form,we will send the document to autorties,media and civil socities;If you want to be informed about invistgation process create an anonymous email address and write it in the about part of the form.</p>
    <form enctype="multipart/form-data" method="post">
        @if (Model.Id != 0)
        {
            <input type="hidden" asp-for="Id" />
        }
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Year"></label>
            </div>
            <div class="col-6">
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Topic"></label>
            </div>
            <div class="col-6">
                <input asp-for="Topic" class="form-control" />
                <span asp-validation-for="Topic" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Organization"></label>
            </div>
            <div class="col-6">
                <select asp-for="Organization" class="form-control">
                    <option value="Goverment">Goverment</option>
                    <option value="Private">Private Sector</option>
                    <option value="NGO">Non Profit Organizations</option>

                </select>
                <!--<input asp-for="Organization" class="form-control" />-->
                <span asp-validation-for="Organization" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Province"></label>
            </div>
            <div class="col-6">
                <select asp-for="Province" class="form-control" id="Province">
                    <!--["proposed", "PMF", "PIP","Budget","Contract"];-->
                    <option>Kabul</option>
                    <option>Mazar</option>
                    <option>Herat</option>
                    <option>Kandahar</option>
                    <option>Jelal aabad</option>
                </select>
                <!--
            <input asp-for="Province" class="form-control" />
            -->
                <span asp-validation-for="Province" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="About"></label>
            </div>
            <div class="col-6">
                <input asp-for="About" class="form-control" />
                <span asp-validation-for="About" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="file"></label>
            </div>
            <div class="col-6 custom-file">
                @if (Model.Id != 0)
                {
                    <input asp-for="file" class="form-control custom-file-input" />
                }
                @if (Model.Id == 0)
                {
                    <input asp-for="file" class="form-control custom-file-input" Required />
                }
                <label class="custom-file-label">Chooce File</label>
                <span asp-validation-for="file" class="text-danger"></span>

            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Where"></label>
            </div>
            <div class="col-6">
                <input asp-for="Where" class="form-control" />
                <span asp-validation-for="Where" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="other"></label>
            </div>
            <div class="col-6">
                <input asp-for="other" class="form-control" />
                <span asp-validation-for="other" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="form-group row">
            <div class="col-3 offset-3">
                <button type="submit" class="btn btn-primary form-control">
                    @(Model.Id != 0 ? "Update" : "Create")
                </button>
            </div>
            <div class="col-3">
                <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
            </div>
        </div>
        <!-- Java scripts-->
        @section Scripts{
            <partial name="_ValidationScriptsPartial" />
            <!-- for name of uploaded file-->
            <script type="text/javascript">
                $(document).ready(function () {
                    $('.custom-file-input').on("change", function () {
                        var fileName = $(this).val().split("\\").pop();
                        $(this).next('.custom-file-label').html(fileName);
                    });

                });
                //<![CDATA[
                var OrganizationLists = new Array(2)
                OrganizationLists["Goverment"] = ["Kabul",
                    "Mazar",
                    "Herat",
                    "Kandahar",
                    "Jelal aabad"];
                OrganizationLists["Private"] = ["Kabul",
                    "Mazar",
                    "Herat",
                    "Kandahar",
                    "Jelal aabad"];

                /*base line need a new sub:
                 TOR/Concept
                 Data Collection Tools
                 Dataset
                 Presentation
                 Other
                 */
                //store the file name
                //a new part:Where

                /* OrganizationChange() is called from the onchange event of a select element.
                * param selectObj - the select object which fired the on change event.
                */
                function OrganizationChange(selectObj) {
                    // get the index of the selected option
                    var idx = selectObj.selectedIndex;
                    // get the value of the selected option
                    var which = selectObj.options[idx].value;
                    // use the selected option value to retrieve the list of items from the countryLists array
                    cList = OrganizationLists[which];
                    // get the country select element via its known id
                    var cSelect = document.getElementById("Province");
                    // remove the current options from the Province select
                    var len = cSelect.options.length;
                    while (cSelect.options.length > 0) {
                        cSelect.remove(0);
                    }
                    var newOption;
                    // create new options
                    for (var i = 0; i < cList.length; i++) {
                        newOption = document.createElement("option");
                        newOption.value = cList[i];  // assumes option string and value are the same
                        newOption.text = cList[i];
                        // add the new option
                        try {
                            cSelect.add(newOption);  // this will fail in DOM browsers but is needed for IE
                        }
                        catch (e) {
                            cSelect.appendChild(newOption);
                        }
                    }
                    var ddl = document.getElementById("Province");
                    var selectedValue = ddl.options[ddl.selectedIndex].value;
                    if (selectedValue == "Baseline") {
                        document.getElementById('other').style.visibility = 'visible';
                    }
                    else {
                        document.getElementById('other').style.visibility = 'hidden';
                    }
                }

                function ProvinceChange(selectObj) {
                    var ddl = document.getElementById("Province");
                    var selectedValue = ddl.options[ddl.selectedIndex].value;
                    if (selectedValue == "Baseline") {
                        document.getElementById('other').style.visibility = 'visible';
                    }
                    else {
                        document.getElementById('other').style.visibility = 'hidden';
                    }
                }

                                                    //]]>
                                                    //<![CDATA[
                /*base line need a new sub:
                 TOR/Concept
                 Data Collection Tools
                 Dataset
                 Presentation
                 Other
                 */
                                                    //store the file name
                                                    //a new part:Where

                /* OrganizationChange() is called from the onchange event of a select element.
                * param selectObj - the select object which fired the on change event.
                */
                                                                                //]]>
            </script>
            <!--End of JavaScript-->
        }
    </form>
</div>
